{% extends "slaw/base.html" %}
{% block title %}SLAW{% endblock %}

{% block content %}
    <!-- Home -->
	<div id="home">
		<!-- background image -->
		<div class="section-bg" style="background-image:url(static/slaw/img/background01.jpg)" data-stellar-background-ratio="0.5"></div>
		<!-- /background image -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- home content -->
					<div class="col-md-8 col-md-offset-2">
						<div class="home-content">
							<h1>SLAW 0.1</h1>
						</div>
					</div>
					<!-- /home content -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /home wrapper -->
	</div>
	<!-- /Home -->

    <!-- About -->
	<div id="about" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="section-title">
					<h3 class="title"><span>Award</span> <span style="color: #dd0a37;">Categories</span></h3>
				</div>
				<!-- /section title -->

				<div class="col-md-8 col-md-offset-2 text-center">
                    <!-- about content -->
                    {% for category in categories %}
                        <div class="about-content">
                            <h4><span>{{category.get_Category_of_award_display}}</span></h4>
                            <p style="text-align: justify;">{{category.award_details}}</p>
                        </div>
                    {% endfor %}
					<!-- /about content -->

					
		
						<!-- /row -->
					
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /About -->

{% endblock %}