{% extends 'c360n/_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} About Us{% endblock title %}

{% block content %}

    <!--================ Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>About Us</h2>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Home Banner Area =================-->

	<!--================ Start About Us Area =================-->
	<section class="about_area section_gap" id="about_us">
        <div class="container">
            <div class="row">
                <div class="single_about row">
                    <!--<div class="col-lg-6 col-md-12 text-center about_left">-->
                    <!--    <div class="about_thumb">-->
                    <!--        <img src="https://res.cloudinary.com/change360network/image/upload/v1592150611/Change360Network%20Background%20Image/IMG-20200519-WA0005_xei402.jpg" class="img-fluid" alt="">-->
                    <!--    </div>-->
                    <!--</div>-->
                    <div class="col-lg-12 col-md-12 about_right">
                        <div class="about_content">
                            <h2>About us</h2>



                            <p>
                                    Change360 Network (C360Network)is a non-profit organisation driven by a group of young progressive Nigerians with a strong excellence-oriented mindset and belief of a better Nigeria. Our mission is to help young Nigerians discover and develop their leadership potential through constant mentoring and leadership training with the aim to position them with the right platform to inculcate the good leadership spirit needed to move our nation forward.
                            </p>
                            <p>
                                    Change360 Network came up in 2013 as a way of promoting good leadership in Nigerian universities and as a way of encouraging more young persons to take up leadership positions in order to produce leaders who are ready to take on roles and responsibilities needed to drive our nation in the right direction .
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End About Us Area =================-->
<!--================Team Area =================-->
<!--	<section class="team_area section_gap">-->
<!--		<div class="container">-->
<!--			<div class="main_title">-->
<!--				<h2>Meet our Team</h2>-->

<!--			</div>-->
<!--			<div class="row team_inner">-->
<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="team_item">-->

<!--						<div class="team_name">-->
<!--							<h4>Abeeb Adebayo</h4>-->
<!--							<p>Founder/Coordinator</p>-->
<!--							<div class="social">-->
<!--								<a href="#"><i class="fa fa-facebook"></i></a>-->
<!--								<a href="#" class="active"><i class="fa fa-twitter"></i></a>-->
<!--								<a href="#"><i class="fa fa-instagram"></i></a>-->
<!--								<a href="mailto:abeeb.adebayo.olatunde@gmail.com"><i class="fa fa-envelope-o"></i></a>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->

<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="team_item">-->

<!--						<div class="team_name">-->
<!--							<h4>Ayodeji Hughes</h4>-->
<!--							<p>Co-Founder/ Executive Director</p>-->
<!--							<div class="social">-->
<!--								<a href="#"><i class="fa fa-facebook"></i></a>-->
<!--								<a href="#"><i class="fa fa-twitter"></i></a>-->
<!--								<a href="#"><i class="fa fa-instagram"></i></a>-->
<!--								<a href="mailto:dejihughes@gmail.com"><i class="fa fa-envelope-o"></i></a>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->

<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="team_item">-->

<!--						<div class="team_name">-->
<!--							<h4>Femi Milluher</h4>-->
<!--							<p>Director, Programs</p>-->
<!--							<div class="social">-->
<!--								<a href="#"><i class="fa fa-facebook"></i></a>-->
<!--								<a href="#" class="active"><i class="fa fa-twitter"></i></a>-->
<!--								<a href="#"><i class="fa fa-instagram"></i></a>-->
<!--								<a href="#"><i class="fa fa-envelope-o"></i></a>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->

<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="team_item">-->

<!--						<div class="team_name">-->
<!--							<h4>Ademola Adebayo</h4>-->
<!--							<p>Director, IT and Engineering</p>-->
<!--							<div class="social">-->
<!--								<a href="#"><i class="fa fa-facebook"></i></a>-->
<!--								<a href="#" class="active"><i class="fa fa-twitter"></i></a>-->
<!--								<a href="#"><i class="fa fa-instagram"></i></a>-->
<!--								<a href="#"><i class="fa fa-envelope-o"></i></a>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->

<!--			<div class="row team_inner">-->
<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="team_item">-->

<!--						<div class="team_name">-->
<!--							<h4>Juwon Bello</h4>-->
<!--							<p>Team Lead, Media and Social engagement</p>-->
<!--							<div class="social">-->
<!--								<a href="#"><i class="fa fa-facebook"></i></a>-->
<!--								<a href="#" class="active"><i class="fa fa-twitter"></i></a>-->
<!--								<a href="#"><i class="fa fa-instagram"></i></a>-->
<!--								<a href="#"><i class="fa fa-envelope-o"></i></a>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="team_item">-->
<!--						<-->
<!--						<div class="team_name">-->
<!--							<h4>Favour Ojo</h4>-->
<!--							<p>Media and Social Engagement Officer</p>-->
<!--							<div class="social">-->
<!--								<a href="#"><i class="fa fa-facebook"></i></a>-->
<!--								<a href="#" class="active"><i class="fa fa-twitter"></i></a>-->
<!--								<a href="#"><i class="fa fa-instagram"></i></a>-->
<!--								<a href="#"><i class="fa fa-envelope-o"></i></a>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="team_item">-->

<!--						<div class="team_name">-->
<!--							<h4>Osinulu Adebayo</h4>-->
<!--							<p>IT Officer</p>-->
<!--							<div class="social">-->
<!--								<a href="#"><i class="fa fa-facebook"></i></a>-->
<!--								<a href="#" class="active"><i class="fa fa-twitter"></i></a>-->
<!--								<a href="#"><i class="fa fa-instagram"></i></a>-->
<!--								<a href="#"><i class="fa fa-envelope-o"></i></a>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="team_item">-->

<!--						<div class="team_name">-->
<!--							<h4>Quadri Bello</h4>-->
<!--							<p>Research/Programs Officer</p>-->
<!--							<div class="social">-->
<!--								<a href="#"><i class="fa fa-facebook"></i></a>-->
<!--								<a href="#" class="active"><i class="fa fa-twitter"></i></a>-->
<!--								<a href="#"><i class="fa fa-instagram"></i></a>-->
<!--								<a href="#"><i class="fa fa-envelope-o"></i></a>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="team_item">-->

<!--						<div class="team_name">-->
<!--							<h4>Gafar Lanre</h4>-->
<!--							<p>Creativity Officer</p>-->
<!--							<div class="social">-->
<!--								<a href="#"><i class="fa fa-facebook"></i></a>-->
<!--								<a href="#" class="active"><i class="fa fa-twitter"></i></a>-->
<!--								<a href="#"><i class="fa fa-instagram"></i></a>-->
<!--								<a href="#"><i class="fa fa-envelope-o"></i></a>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="team_item">-->

<!--						<div class="team_name">-->
<!--							<h4>Collins Akaniru</h4>-->
<!--							<p>Team Lead, Creativity and Digital Media</p>-->
<!--							<div class="social">-->
<!--								<a href="#"><i class="fa fa-facebook"></i></a>-->
<!--								<a href="#" class="active"><i class="fa fa-twitter"></i></a>-->
<!--								<a href="#"><i class="fa fa-instagram"></i></a>-->
<!--								<a href="#"><i class="fa fa-envelope-o"></i></a>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->

	<!--================End Team Area =================-->
	
	<!--================ Start CTA Area =================-->
	<div class="cta-area section_gap overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <h1>JOIN US </h1>
                    <form class="subscribe_form relative" action="{% url 'about-us' %}" method="post">
                        {% csrf_token %}
						{% if messages %}
							<ul class="messages">
								{% for message in messages %}
								<div class="container-fluid p-0">
									<div class="alert {{ message.tags }} alert-dismissible" role="alert" >
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										{{ message }}
									</div>
								</div>
								<!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
								{% endfor %}
							</ul>
                        {% endif %}
                        <!-- <div class="form-group row">
                            {{ form| crispy}}
                        </div> -->
                        
                        {% for field in form %}
                            <div class="form-group row">
                                {{ field.errors }}
                                <label for="{{field.id_for_label}}" class="col-sm-5 col-form-label">{{field.label_tag}} </label>
								<div class="col-sm-7">
									{{ field }}
								</div>
                            </div>
                        {% endfor %}
                        <button class="primary_btn yellow_btn rounded">Become a Volunteer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--================ End CTA Area =================-->

{% endblock content %}